@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Tenor+Sans&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #FFF1F4;
  font-family: 'Tenor Sans', sans-serif;
}
h1 {
  color: #274393;
}
.navsection {
  display: block;
  text-align: center;
}
.navlink {
  padding: 10px 20px;
  margin: 2px;
  text-decoration: none;
  background-color: #282c34;
  border-radius: 20px;
}
a {
  min-width: 120px;
  display: inline-block;
}
.navsection span {
  display: block;
}
.mainwell{
  text-align: left;
  margin: 0px 60px;
  color: #274393;
}
.topping{
  padding: 20px;
}
a {
  color: #274393;
}
#GOH{
  font-size: xxx-large;
  color: #274393;
}
#resourcehub {
  font-size: xx-large;
  padding-bottom: 10px;
  color: #F47185;
  font-family: 'Petit Formal Script', cursive;
}
#homelink{
  background-color: #274393;
  color: #FFF;
}
#femmelink {
  background-color: #CEC5FC;
  color: #274393;
}
#masclink{
  background-color: #DDD92A;
  color: #274393
}
#faqlink{
  background-color: #F47185;
  color: #FFF;
}
.maincontainer {
  margin: 0 100px;
}


/* Mobile */
.mobileCardsList {
  display: gird;
  grid-template-columns: 1fr;
  gap: 10px;
}
.mobilecardContainer {
  display: block;
}
.mobileOutfitCard {
  margin-bottom: 80px;
  margin-top: 30px;
}
.mobileOutfitImage {
  width: 100%;
  margin: auto;
}
.mobileOutfitCardDetails {
  outline: #274393;
}
.mobilePaginationContainer {
  padding: 0px;
  list-style-type: none;
  text-align: center;
}



/* Tablet */
.tabletCardsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.tabletcardContainer {
  display: flex;
  width: 100%;
  height: auto;
}
.tabletOutfitImage {
  width: 280px;
  height: auto;
}
.tabletOutfitCardDetails {
  display: inline;
  top: 20%;
  padding-left: 20px;  
}
.tabletPagination {
  padding: 30px;
  list-style-type: none;
  text-align: center;
}

/* Desktop */

.cardsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  gap: 10px;
}
.cardContainer {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  min-height: 333px;
  width: 100%;
  margin: auto;
}
.OutfitImage {
  display: block;
  max-width: 250px;
  max-height: 333px;
}
.cardContainer a {
  color: #274393;
}
.OutfitCardDetails {
  display: inline;
  padding-left: 20px;
  margin-top: 10%;
}
.pagination {
  display: block;
  margin: 100px auto;
  width: 100%;
}
.pagination-container {
  list-style-type: none;
  text-align: center;
}
.pagination-item {
  padding: 10px 0px;
  height: 50px;
  text-align: center;
  margin: auto 5px;
  color: #274393;
  display: inline;
  align-items: center;
  letter-spacing: 0.01071em;
  line-height: 1.43;
  min-width: 44px;
  border-bottom: solid #FFF1F4 2px;
}
.paginationButton {
  border: none;
  padding: 11px;
  color: #274393;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Petit Formal Script', cursive;
  min-width: 44px;
}
.paginationButton:hover{
  cursor: pointer;
}
/* .dots:hover {
  background-color: transparent;
  cursor: default;
} */
.selected {
  border-bottom: solid #F47185 2px;
}
.disabled {
  pointer-events: none;
}
i {
  padding: 2px;
  height: 100%;
  line-height: 1.43;
  vertical-align: middle;
  display: inline;
}

